# Gitignore file for the community project
#
#------------------------------------------------------------------------------

lnInclude/*
linux*/*


#------------------------------------------------------------------------------
